body,
button,
input,
select,
textarea { 
	color: #7B8697;
}
button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
    background: #008ec2;
    border-color: #008ec2;
	color: #fff;
}
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #008ec2;
	color: #fff;
}
a {
	color: #008ec2;
}

blockquote { border-left: 4px solid #008ec2; }
/*==================== top-bar ====================*/

.mt-head-bar { background-color: #02071b; }
.mt-head-bar .info-left li a { color: #ffffff; }
.mt-head-bar .info-left li a:hover, 
.mt-head-bar .info-left li a:focus { color: #008ec2; }
.info-left li {
	color: #fff;
}
.info-left li > a { color: #ffffff; }
.info-left li > a:hover, 
.info-left li > a:focus { color: #ffffff; }

.mt-social-icons a:after {
    color: #fff;
}
/*==================== Slider ====================*/
#mt-slider .slide-caption h1 {
	color: #fff;
}
#mt-slider .slide-caption .description p {
	color: #fff;
}
#mt-slider .slide-caption h1 > span {
	color: #1151d3;
}
#mt-slider .mt-slider-inner {
	background: rgba(2, 7, 27, 0.2);
}
.mt-slider-warraper .slide-inner-box {
	background: rgba(255, 255, 255, 0.98);
}
#mt-slider .slide-inner-box h1 {
	color: #111;
}
#mt-slider .slide-caption .slide-inner-box .description p {
    color: #666;
}
.mt-slider-warraper .slide-inner-box-two {
	background: rgba(2, 7, 27, 0.85);
}
#mt-slider .slide-caption .slide-inner-box-two .description p {
	color: #c3c6d2;
}

.btn.btn-tislider {
	background: #1151d3;
	color: #fff;
}
.btn-tislider-two {
	border-color: #fff;
	color: #fff;
}
.btn.btn-tislider:hover, .btn.btn-tislider:focus {
	background: #fff;
	color: #1151d3;
	border-color: #1151d3;
}
.btn-tislider-two:hover, .btn-tislider-two:focus {
	background: #1151d3;
	color: #fff;
	border-color: #1151d3;
}
#mt-slider.owl-carousel .owl-nav div {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
#mt-slider.owl-carousel .owl-nav div:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
}
#mt-slider.owl-carousel .owl-nav div {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.theme-grey { background-color: #f2f7fd; }
.theme-default { background-color: #008ec2; } 
.theme-dark { background-color: #02071b; } 
.text-white { color: #fff; }
.text-dark { color: #02071b !important; }
.text-default { color: #008ec2 !important; }
.text-grey { color: #a7a7a7 !important; }

.btn-light { background-color: #ffffff; color: #02071b; }
.btn-light:hover, .btn-light:focus { color: #fff; }

.btn-default { background-color: #008ec2; color: #fff; }
.btn-default:hover, .btn-default:focus { color: #fff; }

.btn-dark { background-color: #02071b; color: #fff; }
.btn-dark:hover, .btn-dark:focus { color: #fff; }

.owl-carousel .owl-nav div {
    background-color: #eeeff3;
    color: #008ec2;
}
.owl-carousel .owl-nav div:hover { 
	background-color: #008ec2; 
	color: #fff;
}
.owl-theme .owl-dots .owl-dot span {
	background: rgba(32, 32, 32, 1);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #008ec2; 
}
.mt-plan {
	border-color: #e5e5e5;
}
.mt-plan header {
	background: #fff;
	border-color: #e5e5e5;
}
.mt-plan.active header, .mt-plan.active .mt-plan-price, .mt-plan.active .mt-plan-features  {
	background: #008ec2;
    border-color: #fff;
    color: #fff;
}
.mt-plan.active .btn-theme {
    border-color: #fff;
    background: #fff;
    color: #008ec2;
}
.mt-plan h2 {
	color: #222;
}
.mt-plan-price {
	border-color: #efefef;
	color: #008ec2;
}
.mt-plan .mt-period {
    color: #646f79;
}
.mt-plan.active h2, .mt-plan.active .mt-plan-price .mt-currency, .mt-plan.active .mt-plan-price .mt-period{
	color: #fff;
}
.mt-plan-price .mt-amount {
	color: #008ec2;
}
.mt-plan.active .mt-plan-price .mt-amount {
	color: #fff;
}
.mt-plan-features li.footer {
	border-color: #e5e5e5;
}
.mt-plan.active .mt-plan-features li.footer {
	border-color: #e5e5e5;
}
.mt-plan .mt-pupular-ribbon {
    background-color: #32c5d2;
    color: #fff;
}
.mt-plan .mt-new-ribbon {
    background-color: #4caf50;
    color: #fff;
}
.mt-plan .mt-upcoming-ribbon {
    background-color: #e64a19;
    color: #fff;
}
.mt-plan-features li strong {
	color: #212121;
}
.mt-plan-features li i {
	color: #1151d3;
}
.mt-header .mt-title > a { color: #02071b; }
.mt-header .mt-title > a:hover, 
.mt-header .mt-title > a:focus, 
.mt-header .mt-title > a:active { color: #008ec2; }

/*btn-theme*/
.btn-theme, .more-link {
	border-color: #008ec2;
	background: #008ec2;
	color: #fff;
}
.btn-theme:hover, .btn-theme:focus, .more-link:hover, .more-link:focus { 
	color: #fff;
	border-color: #008ec2;
}
.btn-theme:before {
	background-color: #008ec2;
	border-color: #008ec2;
	color: #fff;
}

.mt-sec-head .mt-sec-title {
    color: #233653;
}
.mt-sec-head .mt-sec-backhead {
    color: #7B8697;
}
.mt-sec-head .mt-sec-subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
	margin: 0 0 15px;
	color: #7B8697;
}
.mt-sec-head .mt-sec-title.light, 
.mt-sec-head .mt-sec-subtitle.light { color: #fff; }
.mt-top-ct-area::before {
    background-color: rgba(2, 7, 27, 0.4);
}
.mt-ct-icon { 
	background-color: rgba(255, 255, 255, 1);
}
.mt-ct-icon i { color: #008ec2; }
.mt-ct-info-wid h4 { color: #fff; }
.mt-ct-info-wid h6 { color: #fff; }
.mt_scroll_up {
    background-color: #008ec2;
    color: #fff;
}
/*--------------------------------------------------------------*/
/*	Service Section - One
/*--------------------------------------------------------------*/
.mt-service-wid {
    border-color: rgba(88,136,247,0.1);
    background-color: #fff;
}
.mt-ser-icon i { background-color: #008ec2; color: #fff; }
.mt-service-wid .mt-ser-title h4 a {
	color: #02071b;
}
/*--------------------------------------------------------------*/
/*	Callout Section
/*--------------------------------------------------------------*/

.callout::before {
    background-color: rgba(2, 7, 27, 0.9);
}
.callout h1 { color: #fff; }
.callout p { color: #fff; }
/*--------------------------------------------------------------*/
/*	Portfolio Section
/*--------------------------------------------------------------*/
.portfolio-tabs { border-color: #e4e8ea; }
.portfolio-tabs li a { color: #737f85;}
.mt-port-filters li a {
	background: transparent; 
	color: #02071b;
}
.mt-port-filters li.active > a, 
.mt-port-filters li > a:hover { background: #008ec2; color: #fff; }
/*--------------------------------------------------------------*/
/*	Portfolio Section
/*--------------------------------------------------------------*/

.mt-portfolio-wid { 
	background-color: #fff;
}
.mt-portfolio-wid:hover { 
	background-color: #f2f7fd;
}

.thumbnail-showcase-overlay {
	background: rgba(2, 7, 27, 0.8);
}
.mt-portfolio-wid .post-thumbnail .thumbnail-showcase-icons a {
    border-color: #fff;
    color: #222;
    background-color: #fff;
}
.mt-portfolio-wid .post-thumbnail .thumbnail-showcase-icons a:hover, 
.mt-portfolio-wid .post-thumbnail .thumbnail-showcase-icons a:focus { 
	background-color: #008ec2;
	border-color: #008ec2;
	color: #fff;
}
/*--------------------------------------------------------------*/
/*	Section Header
/*--------------------------------------------------------------*/

.entry-header .entry-title > a { color: #02071b; }
.entry-header .entry-title > a:hover, 
.entry-header .entry-title > a:focus, 
.entry-header .entry-title > a:active { color: #008ec2; }

/*--------------------------------------------------------------*/
/*	Page Title Section
/*--------------------------------------------------------------*/
.mt-breadcrumb:before {
    background-color: rgba(2, 7, 27, 0.85);
}
.mt-breadcrumb .title h1 { color: #fff; }
.mt-breadcrumb-nav > li { color: #fff; }
.mt-breadcrumb-nav > li + li:before { color: #fff; }
.mt-breadcrumb-nav > li a { color: #fff; }
/*--------------------------------------------------------------*/
/*	Testimonial Section
/*--------------------------------------------------------------*/

.testimonial { }
.mt-review-wid { color: #000;}
.mt-review-wid .wt-content { 
	background-color: #fff; 
}
.mt-review-wid .wt-title { color: #02071b; }
.mt-review-wid .wt-content p:before {     
	color: #008ec2;
}
.mt-review-wid .wt-content:after {     
	border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-color: #ffffff;
}
.client-thumbnail img {
    background-color: #fff;
    border-color: #d5eef5;
}
.client-name { color: #fff; }
.client-designation { color: #c5c5c5; }

.testimonial-two .owl-theme .owl-dots .owl-dot span {
    background: #fff;
}
.owl-theme .owl-dots .owl-dot span {
	background: rgba(32, 32, 32, 1);
}
/*--------------------------------------------------------------*/
/*	Testimonial Section - Two
/*--------------------------------------------------------------*/
.testimonial-two:before {
    background-color: rgba(2, 7, 27, 0.8);
}
.testimonial-two .review { 
	background-color: #fff;
}
.testimonial-two .description p { color: #666666;}
.testimonial-two .avatar::before {
    background: #008ec2;
    color: #fff;
}
.testimonial-two .name { color: #02071b; }
.testimonial-two .name > a { color: #02071b; }
.testimonial-two .name > a:hover { color: #008ec2; }
.testimonial-two .designation { color: #a7a7a7;  }

/*--------------------------------------------------------------*/
/*	Funfacts 1 & Funfacts 2 Section
/*--------------------------------------------------------------*/
i.mt-funfact-icon { 
	color: #fff;
}


/*--------------------------------------------------------------*/
/*	About Us 1
/*--------------------------------------------------------------*/
.about-module .mt-social-icons a:after { color: #02071b; }
.about-module .mt-social-icons a:hover:after { color: #fff; }
/*--------------------------------------------------------------*/
/*	Team Section
/*--------------------------------------------------------------*/
.mt-team-wid { 
	background-color: #fff;
}
.team-caption {
	background-color: #fff; 
	color: #fff;
}
.team-caption .designation { color: #666;}
.mt-team-overlay {
	background: rgba(2, 7, 27, 0.8);
}

.team-avatar .team-social-icons a {
	color: #fff;
	background-color: transparent;
}
.team-avatar .team-social-icons a:hover { color: #ffffff; }

.team-avatar .team-social-icons a.facebook:hover { background-color: #3c5a99; }
.team-avatar .team-social-icons a.twitter:hover { background-color: #00aced; }
.team-avatar .team-social-icons a.linkedin:hover { background-color: #0097d3; }
.team-avatar .team-social-icons a.googleplus:hover { background-color: #dc4a38; }
.team-avatar .team-social-icons a.instagram:hover { background-color: #ba0497; }
.team-avatar .team-social-icons a.youtube:hover { background-color: #ff051e; }

/*--------------------------------------------------------------*/
/*	Callout Two Section
/*--------------------------------------------------------------*/
.mt-calltoaction .overlay {
    background-color: rgba(255, 255, 255, 0.8);
}
.mt-calltoaction .title  { color: #3c3950; font-weight:700;}
.mt-calltoaction .subtitle { color: #3c3950; }
/*--------------------------------------------------------------*/
/*	mt-clients Section
/*--------------------------------------------------------------*/
.mt-clients img { border-color: #eee;}
.mt-clients img:hover { border-color: #02071b; }

/*--------------------------------------------------------------*/
/*	Blog Section 
/*--------------------------------------------------------------*/

.blog {

}
.mt-post { 
	background-color: #fff;
}
.mt-post:hover {
    background-color: #fff;
}
.mt-post-meta { border-color:  #d3d3d3;}
.mt-post-meta .byline { color: #02071b; }
.mt-post-meta a { display: inline-block; color: #233653; }
.mt-post-meta a:hover, .mt-post-meta a:focus { color: #008ec2; }

.byline .author:before, .mt-date:before, .comments-link:before, .cat-links:before, .tag-links:before {
    color: #7B8697;
}

/*--------------------------------------------------------------*/
/*	Blog Page Template Section
/*--------------------------------------------------------------*/

.site-content .mt-post { background-color: #ffffff; }
.site-content .mt-post-meta .mt-date a { color: #02071b; }

/*Pagination*/
.pagination a {
	background-color: #fff; 
	border-color:  #eeeeee; 
	color: #02071b;
}
.pagination a:hover, .pagination a.active { color: #FFFFFF; background-color: #008ec2; border-color: #008ec2; }


.navigation.pagination .nav-links .page-numbers.current, .navigation.pagination .nav-links a:hover, a.error-btn {
    background-color: #008ec2;
}
.navigation.pagination .nav-links .page-numbers.current, .navigation.pagination .nav-links a:hover {
    color: #FFFFFF;
}

/*Blog Author*/
.blog-author { 
	background-color: #ffffff;
}
.blog-author .designation { color: #008ec2;}
.blog-author .mt-social-icons a:after {
    color: #02071b;
}
.blog-author .mt-social-icons.icon-eft a:hover:after, .blog-author .mt-social-icons.icon-eft a:focus:after {
    color: #fff;
}

/*Comments*/
.comment-section { 
	background-color: #ffffff;
}
.comment-title { border-color:  #eeeeee;}
.comment-detail { border-color: #eeeeee;}
.comment-date { color: #adadad;}
.reply a {
	background-color: #008ec2;
    color: #ffffff;
}
.reply a:hover, .reply a:focus { background-color: #02071b; color: #fff; }
/*Comment Form*/
.comment-form-section { 
	background-color: #ffffff;
}

/*--------------------------------------------------------------*/
/*	Sidebars & Widgets Section
/*--------------------------------------------------------------*/

.sidebar { background-color: #fff; border-color: #eee; }
.sidebar .mt-widget { background-color: transparent;}
.sidebar .mt-widget { background-color: transparent;}
.mt-widget .widget-title { color: #02071b; }
/*Address*/
.mt-widget address { font-style: normal; }
.widget p { font-size: 0.938rem; }
.mt-widget a:hover, .mt-widget a:focus { color: #008ec2; }
.mt-widget i.icon { color: #008ec2; padding: 0 12px 0 1px; }
/*Sidebar News*/
.mt-widget .mt-post { background: transparent; border-color: #eee; }
.mt-widget .mt-post .mt-title a { color: #02071b; }
.mt-widget .mt-post .mt-post-meta .mt-date a { color: #008ec2; }
/*Sidebar Tags*/
.tagcloud a {
	background-color: #fefefe; 
	border-color: #eeeeee; 
	color: #666666;
}
.mt-widget .tagcloud a:hover { background-color: #008ec2; border-color: #008ec2 !important; color: #ffffff !important; }
/*Sidebar Calender*/
.mt-widget #calendar_wrap {
    background-color: transparent;
    border-color: #e4e8ea;
}

.mt-widget table {
	color: #666666;
}
.mt-widget #wp-calendar caption {
    background-color: #008ec2;
    color: #ffffff;
}
.mt-widget #calendar_wrap th { color: #02071b;}
.mt-widget #calendar_wrap td { background: #f2f7fd;}
.mt-widget #wp-calendar a { color: #02071b; }
.mt-widget #wp-calendar #next a { color: #02071b; }
.mt-widget #wp-calendar #prev a { color: #02071b;}

.widget_archive li, .widget_categories li, .widget_links li, .widget_meta li, 
.widget_nav_menu li, .widget_pages li, .widget_recent_comments li, .widget_recent_entries li {
	border-color: #eee;
}
.mt-widget li a, .widget_archive li a, .widget_categories li a, .widget_links li a, .widget_meta li a, .widget_nav_menu li a, .widget_pages li a, .widget_recent_comments li a, .widget_recent_entries li a {
	color: #6a6a6a;
}

/*--------------------------------------------------------------*/
/*	Footer Section
/*--------------------------------------------------------------*/

.mt-footer { 
	background-color: #02071b;
} 
.mt-footer-inner { background-color: transparent;}


/*--------------------------------------------------------------*/
/*	Footer Widget Section
/*--------------------------------------------------------------*/
.mt-footer-inner .mt-widget .widget-title { color: #fff; }
.mt-footer-inner p, .mt-footer-inner .mt-widget address > a, 
.mt-footer-inner .mt-widget address > p > a, 
.mt-footer-inner .mt-widget .mt-post .mt-title a {
	color: #dadada; 
}
.mt-footer-inner .mt-widget .mt-post { border-color: rgba(255, 255, 255, 0.2); }
.mt-footer-inner .mt-widget .tagcloud a { background-color: #171b2b; border-color: #171b2b; color: #dadada; }

.mt-footer-inner .widget_archive li, .mt-footer-inner .widget_categories li, .mt-footer-inner .widget_links li, .mt-footer-inner .widget_meta li, 
.mt-footer-inner .widget_nav_menu li, .mt-footer-inner .widget_pages li, .mt-footer-inner .widget_recent_comments li, .mt-footer-inner .widget_recent_entries li {
	border-color: rgba(255, 255, 255, 0.2);
}
.mt-footer-inner .widget_archive li a, .mt-footer-inner .widget_categories li a, .mt-footer-inner .widget_links li a, .mt-footer-inner .widget_meta li a, 
.mt-footer-inner .widget_nav_menu li a, .mt-footer-inner .widget_pages li a, .mt-footer-inner .widget_recent_comments li a, .mt-footer-inner .widget_recent_entries li a {
	color: #dadada;
}


/*--------------------------------------------------------------*/
/*	404 Error Page
/*--------------------------------------------------------------*/
.error-404 i { color: #008ec2; }
/*--------------------------------------------------------------*/
/*	Contact Page
/*--------------------------------------------------------------*/

.mt-contact-area { background-color: #fff; }
.mt-contact-area address a { color: #666666; }
.mt-contact-area:before {
	border-top-color: #008ec2;
	border-bottom-color: #008ec2;
} 
.mt-contact-area:after {
	border-left-color: #008ec2;
	border-right-color: #008ec2;
} 
.mt-contact-area i.fa { color: #008ec2; }

.page-scroll-up, .page-scroll-up, .page-scroll-up:hover, .page-scroll-up:focus {
    background-color: #008ec2;
    color: #fff;
}

.woocommerce-page .products h3 {
	color: #333;
}
.woocommerce div.product .woocommerce-tabs .panel h2 {
	color: #333;
}
.related.products h2 {
	color: #333;
}
.woocommerce nav.woocommerce-pagination ul li a {
	color: #333;
}
.woocommerce nav .woocommerce-pagination ul li span {
	color: #333;
}
.woocommerce nav.woocommerce-pagination ul li a {
	border-color: #ddd;
}
.woocommerce nav .woocommerce-pagination ul li span {
	border-color: #ddd;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce #respond input#submit, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce a.button, .woocommerce button.button, .woocommerce-page .products a.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt[disabled]:disabled, .woocommerce #respond input#submit.alt[disabled]:disabled:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt[disabled]:disabled, .woocommerce a.button.alt[disabled]:disabled:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt[disabled]:disabled, .woocommerce button.button.alt[disabled]:disabled:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt[disabled]:disabled, .woocommerce input.button.alt[disabled]:disabled:hover {
	background: #008ec2;
}

.woocommerce-page .woocommerce .woocommerce-info a, .woocommerce-page .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-message a, .woocommerce-page .woocommerce-message a:hover, .woocommerce-page .woocommerce-message a:focus, .woocommerce .woocommerce-message::before, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-error a, .woocommerce-page .woocommerce .woocommerce-error:before, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-info a, .woocommerce-page .woocommerce-info:before, .woocommerce-page .woocommerce .woocommerce-info, .woocommerce-cart .wc-proceed-to-checkout a .checkout-button, .woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce a.button, .woocommerce button.button, .woocommerce #respond input#submit, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce nav .woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page .products a.button, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus, .woocommerce a.button:hover, .woocommerce a.button:focus, .woocommerce button.button:hover, .woocommerce button.button:focus, .woocommerce input.button:hover, .woocommerce input.button:focus {
    color: #fff;
}

.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus, .woocommerce a.button:hover, .woocommerce a.button:focus, .woocommerce button.button:hover, .woocommerce button.button:focus, .woocommerce input.button:hover, .woocommerce input.button:focus {
    border-color: #008ec2;
    background: #008ec2;
    color: #fff;
}